<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ScrapR</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'myApp/styles/main.css' %}">
</head>
<body>
    <nav>
        <h1>ScrapR</h1>
        <h1>Check It Out Down Below!</h1>
    </nav>
    <div id="container">
        <form action="/search" method="POST">
            {% csrf_token %}
            <div class="engine">
                <h1>Search Engine</h1>
                <select name="engine" select>
                    <option selected disabled hidden>Please Select a Search Engine</option>
                    <option value="google">Google</option>
                    <option value="yahoo">Yahoo</option>
                    <option value="bing">Bing</option>
                    <option value="ask">Ask</option>
                    <option value="aol">AOL</option>
                </select>
            </div>
            <div class="search">
                <h1>Search</h1>
                <input type="text" placeholder="Enter Here" name="keyword">
            </div>
            <div class="category">
                <h1>Category</h1>
                <select name="category" select>
                    <option selected disabled hidden>Please Select a Category</option>
                    <option value="all">All</option>
                    <option value="news">News</option>
                    <option value="videos">Videos</option>
                    <option value="images">Images</option>
                    <option value="books">Books</option>
                </select>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>